.main-container {
  width: 413px;
  margin-top: 50px;
  padding: 10px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f9fbff;

  p-button {
    padding-left: 10px;
  }

  p {
    font-size: 20px;
  }
}
