
.main-container {
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  height: 100%;
  background-color: #e9eaea;
  background-image: linear-gradient(315deg, #edf1f1 0%, #f2f2f3 90%);
}
