@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

.p-multiselect-items-wrapper {
  overflow: visible;
}
.main-container {
  padding: 5%;

  .card {
    padding: 5px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #e1e1e1;

    table {
      width: 100%;
    }

    th.mat-sort-header-sorted {
      color: black;
    }

    .link-for-redirect{
      text-decoration: underline;
      color: #1D4ED8;
    }
  }
}

